.q-dialog {
  &__inner {
    .q-card {
      min-width: 400px;
      min-height: 400px;
      border-radius: 10px;
      padding: 10px;
    }
  }
}

.q-field {
  &__inner {
    .q-field__control {
      margin: 0;
      &-container {
        margin: 0;
      }
    }
  }
}

.q-menu {
  .q-virtual-scroll__content {
    padding-left: 10px;
  }
}

.form-group {
  input {
    height: 48px;
    border-radius: 10px;
  }
}
